<a href="https://colab.research.google.com/github/silva-felipe/BootCamp_Alura_DataScience/blob/main/Bootcamp(modulo02).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [134]:
import pandas as pd

In [135]:
url_atendimento = 'https://raw.githubusercontent.com/silva-felipe/BootCamp_Alura_DataScience/main/dados/ano_mes_atendimento.csv'

In [136]:
df_atendimento = pd.read_csv(url_atendimento, encoding='ISO-8859-1',sep=';',skiprows=3,skipfooter=12,thousands='.',decimal=',')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [137]:
df_atendimento.head()

  Unidade da Federação 1992/Mar 1992/Abr  ...    2021/Fev    2021/Mar         Total
0          11 Rondônia        -        -  ...  6039419.59  4732441.04  996411254.68
1              12 Acre        -        -  ...  2272733.90  1137341.65  450048530.47
2          13 Amazonas        -        -  ... 13679358.06  6799060.80 1917247936.05
3           14 Roraima        -        -  ...  3044798.77  2381844.31  328876965.09
4              15 Pará        -        -  ... 23343222.94 13069564.31 4705309002.29

[5 rows x 287 columns]

In [138]:
url_processamento = 'https://raw.githubusercontent.com/silva-felipe/BootCamp_Alura_DataScience/main/dados/ano_mes_processamento.csv'

In [139]:
df_processamento = pd.read_csv(url_processamento, encoding='ISO-8859-1',sep=';',skiprows=3,skipfooter=12,thousands='.',decimal=',')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [140]:
df_processamento.head()

  Unidade da Federação    2008/Jan  ...    2021/Mar         Total
0          11 Rondônia  1388528.39  ... 11023309.47  996411254.68
1              12 Acre   902416.00  ...  4077045.92  450048530.47
2          13 Amazonas  4735529.42  ... 22032176.22 1917247936.05
3           14 Roraima   657889.53  ...  3985530.08  328876965.09
4              15 Pará 18864744.11  ... 33276392.89 4705309002.29

[5 rows x 161 columns]

#Aula 01
utilizando o modulo 'io' - StringIO

**baixando os dados da wikipedia**
fonte: https://pt.wikipedia.org/wiki/Lista_de_unidades_federativas_do_Brasil_por_popula%C3%A7%C3%A3o#cite_note-IBGE_POP-1

## modo utilizado no curso

In [141]:
dados_da_populacao ='''
Posição	Unidade federativa	População	% da pop. total	País comparável
(habitantes)

1	 São Paulo	46 289 333	21,9%	Flag of Spain.svg Espanha (46 439 864)
2	 Minas Gerais	21 292 666	10,1%	 Sri Lanka (20 675 000)
3	 Rio de Janeiro	17 366 189	8,2%	 Países Baixos (16 922 900)
4	Bahia Bahia	14 930 634	7,1%	 Chade (14 037 000)
5	 Paraná	11 516 840	5,4%	 Bolívia (11 410 651)
6	 Rio Grande do Sul	11 422 973	5,4%	 Bélgica (11 250 659)
7	 Pernambuco	9 616 621	4,5%	 Bielorrússia (9 485 300)
8	 Ceará	9 187 103	4,3%	 Emirados Árabes Unidos (9 157 000)
9	Pará Pará	8 690 745	4,1%	 Áustria (8 602 112)
10	 Santa Catarina	7 252 502	3,4%	 Sérvia (7 114 393)
11	 Maranhão	7 114 598	3,4%	 Paraguai (7 003 406)
12	 Goiás	7 113 540	3,4%	 Paraguai (7 003 406)
13	 Amazonas	4 207 714	2,0%	 Líbano (4 168 000)
14	 Espírito Santo	4 064 052	1,9%	 Líbano (4 168 000)
15	 Paraíba	4 039 277	1,9%	 Líbano (4 168 000)
16	 Rio Grande do Norte	3 534 165	1,7%	 Uruguai (3 415 866)
17	 Mato Grosso	3 526 220	1,7%	 Uruguai (3 415 866)
18	 Alagoas	3 351 543	1,6%	 Uruguai (3 415 866)
19	 Piauí	3 281 480	1,6%	 Kuwait (3 268 431)
20	 Distrito Federal	3 055 149	1,4%	 Lituânia (2 900 787)
21	 Mato Grosso do Sul	2 809 394	1,3%	 Jamaica (2 717 991)
22	 Sergipe	2 318 822	1,1%	 Namíbia (2 280 700)
23	 Rondônia	1 796 460	0,8%	 Gabão (1 725 000)
24	 Tocantins	1 590 248	0,7%	 Bahrein (1 359 800)
25	 Acre	894 470	0,4%	 Fiji (859 178)
26	 Amapá	861 773	0,4%	 Fiji (859 178)
27	 Roraima	631 181	0,3%	 Luxemburgo (562 958)'''

In [142]:
from io import StringIO

In [143]:
dados_da_populacao_io = StringIO(dados_da_populacao)

In [144]:
pd.read_csv(dados_da_populacao_io, sep='\t')

         Posição  ...                         País comparável
0   (habitantes)  ...                                     NaN
1              1  ...  Flag of Spain.svg Espanha (46 439 864)
2              2  ...                  Sri Lanka (20 675 000)
3              3  ...              Países Baixos (16 922 900)
4              4  ...                      Chade (14 037 000)
5              5  ...                    Bolívia (11 410 651)
6              6  ...                    Bélgica (11 250 659)
7              7  ...                Bielorrússia (9 485 300)
8              8  ...      Emirados Árabes Unidos (9 157 000)
9              9  ...                     Áustria (8 602 112)
10            10  ...                      Sérvia (7 114 393)
11            11  ...                    Paraguai (7 003 406)
12            12  ...                    Paraguai (7 003 406)
13            13  ...                      Líbano (4 168 000)
14            14  ...                      Líbano (4 168 000)
15            15  ...                      Líbano (4 168 000)
16            16  ...                     Uruguai (3 415 866)
17            17  ...                     Uruguai (3 415 866)
18            18  ...                     Uruguai (3 415 866)
19            19  ...                      Kuwait (3 268 431)
20            20  ...                    Lituânia (2 900 787)
21            21  ...                     Jamaica (2 717 991)
22            22  ...                     Namíbia (2 280 700)
23            23  ...                       Gabão (1 725 000)
24            24  ...                     Bahrein (1 359 800)
25            25  ...                          Fiji (859 178)
26            26  ...                          Fiji (859 178)
27            27  ...                    Luxemburgo (562 958)

[28 rows x 5 columns]

## Desafio 01 - Ler diretamente do wikipedia (html)

In [145]:
url='http://pt.wikipedia.org/wiki/Lista_de_unidades_federativas_do_Brasil_por_popula%C3%A7%C3%A3o#cite_note-IBGE_POP-1'

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_html.html
utilizando a documentação do pandas, temos a função pd.read_html. Nela eles dizem que se o link possuir https, devemos tirar o 's' para poder ler corretamente os dados.

In [146]:
pd.read_html(url)[0]

    Posição  ...        País comparável (habitantes)
0         1  ...                Espanha (46 439 864)
1         2  ...              Sri Lanka (20 675 000)
2         3  ...          Países Baixos (16 922 900)
3         4  ...                  Chade (14 037 000)
4         5  ...                Bolívia (11 410 651)
5         6  ...                Bélgica (11 250 659)
6         7  ...            Bielorrússia (9 485 300)
7         8  ...  Emirados Árabes Unidos (9 157 000)
8         9  ...                 Áustria (8 602 112)
9        10  ...                  Sérvia (7 114 393)
10       11  ...                Paraguai (7 003 406)
11       12  ...                Paraguai (7 003 406)
12       13  ...                  Líbano (4 168 000)
13       14  ...                  Líbano (4 168 000)
14       15  ...                  Líbano (4 168 000)
15       16  ...                 Uruguai (3 415 866)
16       17  ...                 Uruguai (3 415 866)
17       18  ...                 Uruguai (3 415 866)
18       19  ...                  Kuwait (3 268 431)
19       20  ...                Lituânia (2 900 787)
20       21  ...                 Jamaica (2 717 991)
21       22  ...                 Namíbia (2 280 700)
22       23  ...                   Gabão (1 725 000)
23       24  ...                 Bahrein (1 359 800)
24       25  ...                      Fiji (859 178)
25       26  ...                      Fiji (859 178)
26       27  ...                Luxemburgo (562 958)

[27 rows x 5 columns]

## Desafio 02 - Padronizar e transformar
- Padronizar os nomes das colunas
- Transformar os dados nos tipos corretos
- Transformar a UF em index

limpando os dados

In [147]:
pop_estados = pd.read_html(url)[0]

In [148]:
pop_estados.head()

   Posição Unidade federativa  ... % da pop. total País comparável (habitantes)
0        1          São Paulo  ...           21,9%         Espanha (46 439 864)
1        2       Minas Gerais  ...           10,1%       Sri Lanka (20 675 000)
2        3     Rio de Janeiro  ...            8,2%   Países Baixos (16 922 900)
3        4              Bahia  ...            7,1%           Chade (14 037 000)
4        5             Paraná  ...            5,4%         Bolívia (11 410 651)

[5 rows x 5 columns]

retirando as colunas indesejadas

In [149]:
pop_estados = pop_estados.drop(['Posição','País comparável (habitantes)','% da pop. total'], axis=1)

In [150]:
pop_estados.head()

  Unidade federativa   População
0          São Paulo  46 289 333
1       Minas Gerais  21 292 666
2     Rio de Janeiro  17 366 189
3              Bahia  14 930 634
4             Paraná  11 516 840

verificando quais sao as colunas existentes e renomeando-as

In [151]:
pop_estados.columns

Index(['Unidade federativa', 'População'], dtype='object')

In [152]:
pop_estados = pop_estados.rename(columns={pop_estados.columns[0]:'uf', pop_estados.columns[1]:'populacao'})

In [153]:
pop_estados.head()

               uf   populacao
0       São Paulo  46 289 333
1    Minas Gerais  21 292 666
2  Rio de Janeiro  17 366 189
3           Bahia  14 930 634
4          Paraná  11 516 840

setando um novo index

In [154]:
pop_estados = pop_estados.set_index(pop_estados.columns[0])

In [155]:
pop_estados.head()

                 populacao
uf
São Paulo       46 289 333
Minas Gerais    21 292 666
Rio de Janeiro  17 366 189
Bahia           14 930 634
Paraná          11 516 840

retirando os espaços dos valores na coluna 'populacao' utilizando a função replace de python junto com a .str do pandas, que permite utilizar algumas funções de string do python

In [156]:
pop_estados['populacao'] = pop_estados['populacao'].str.replace(' ','')

In [157]:
pop_estados.head()

               populacao
uf
São Paulo       46289333
Minas Gerais    21292666
Rio de Janeiro  17366189
Bahia           14930634
Paraná          11516840

verificando os tipos dos dados, observando que todos são do tipo 'object'

In [158]:
pop_estados.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27 entries, São Paulo to Roraima
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   populacao  27 non-null     object
dtypes: object(1)
memory usage: 432.0+ bytes

transformando os valores de 'object' para 'int64' utilizando a função 'to_numeric'
fonte: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_numeric.html#pandas.to_numeric

In [159]:
pop_estados['populacao'] = pd.to_numeric(pop_estados['populacao'])

In [160]:
pop_estados.head()

                populacao
uf
São Paulo        46289333
Minas Gerais     21292666
Rio de Janeiro   17366189
Bahia            14930634
Paraná           11516840

verificando os tipos dos dados, observado que após a utilização da função .to_numeric, agora os dados são do tipo int64

In [161]:
pop_estados.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27 entries, São Paulo to Roraima
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   populacao  27 non-null     int64
dtypes: int64(1)
memory usage: 432.0+ bytes

**arrumando o df de processamento para poder fazer o join com o df de população**

In [162]:
df_processamento.head()

  Unidade da Federação    2008/Jan  ...    2021/Mar         Total
0          11 Rondônia  1388528.39  ... 11023309.47  996411254.68
1              12 Acre   902416.00  ...  4077045.92  450048530.47
2          13 Amazonas  4735529.42  ... 22032176.22 1917247936.05
3           14 Roraima   657889.53  ...  3985530.08  328876965.09
4              15 Pará 18864744.11  ... 33276392.89 4705309002.29

[5 rows x 161 columns]

In [163]:
# formatando o modo de visualização dos dados numericos
pd.options.display.float_format = "{:.2f}".format

In [164]:
#criando uma coluna com as UF sem os números
df_processamento['uf'] = df_processamento['Unidade da Federação'].str[3:]

In [165]:
# dropando as colunas sem interesse
df_processamento.drop(['Unidade da Federação','Total'], axis=1, inplace=True)

In [166]:
# setando a coluna uf como index
df_processamento.set_index('uf', inplace=True)

In [167]:
df_processamento.head()

            2008/Jan    2008/Fev  ...    2021/Fev    2021/Mar
uf                                ...
Rondônia  1388528.39  2931283.42  ...  7730597.04 11023309.47
Acre       902416.00  1497206.26  ...  3538427.92  4077045.92
Amazonas  4735529.42  7118990.57  ... 25917134.55 22032176.22
Roraima    657889.53   777939.31  ...  3519773.73  3985530.08
Pará     18864744.11 19553758.20  ... 37688314.23 33276392.89

[5 rows x 159 columns]

In [168]:
# pegando a coluna do df processamento do mês mais recente
gasto_do_mais_recente = df_processamento[df_processamento.columns[-1]]

In [170]:
# juntando od dois df, pop_estados e gasto_do_mais_recente
pop_estados.join(gasto_do_mais_recente)

                     populacao     2021/Mar
uf
São Paulo             46289333 392946147.42
Minas Gerais          21292666 200471045.07
Rio de Janeiro        17366189 106837295.81
Bahia                 14930634  98746333.07
Paraná                11516840 140264608.52
Rio Grande do Sul     11422973 130155185.16
Pernambuco             9616621  83870992.73
Ceará                  9187103  62079618.54
Pará                   8690745  33276392.89
Santa Catarina         7252502  81376630.57
Maranhão               7114598  39663677.48
Goiás                  7113540  45592686.49
Amazonas               4207714  22032176.22
Espírito Santo         4064052  45490499.45
Paraíba                4039277  25750897.89
Rio Grande do Norte    3534165  23306498.68
Mato Grosso            3526220  19611032.61
Alagoas                3351543  22118639.05
Piauí                  3281480  20018325.75
Distrito Federal       3055149  31831917.45
Mato Grosso do Sul     2809394  25168195.34
Sergipe                2318822  13321494.41
Rondônia               1796460  11023309.47
Tocantins              1590248   1357751.33
Acre                    894470   4077045.92
Amapá                   861773   3188210.98
Roraima                 631181   3985530.08

## Desafio 03 - Buscar na documentação alguns métodos envolvendo strings

Existe uma documentação bem legal explicando quais são e como utilizar a função .str do pandas. 
Entre elas uma que seria de bom grado utilizar nessa aula seria a seguinte:
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.isnumeric.html

para verifcar se os dados são numéricos ou não.

## Desafio 04 -  Desenvolver uma função para a limpeza e tratamento dos dados, retornando duas tabelas "população" e "unida"

In [177]:
import pandas as pd
pd.options.display.float_format = "{:.2f}".format

def populacao_estados():
  url = input('digite url: ')
  url = 'http:' + url[6:]
  pop_estados = pd.read_html(url)[0]
  pop_estados = pop_estados.drop(['Posição','País comparável (habitantes)','% da pop. total'], axis=1)
  pop_estados = pop_estados.rename(columns={pop_estados.columns[0]:'uf', pop_estados.columns[1]:'populacao'})
  pop_estados = pop_estados.set_index(pop_estados.columns[0])
  pop_estados['populacao'] = pop_estados['populacao'].str.replace(' ','')
  pop_estados['populacao'] = pd.to_numeric(pop_estados['populacao'])
  

  url_processamento = input('digite url: ')
  df_processamento = pd.read_csv(url_processamento, encoding='ISO-8859-1',sep=';',skiprows=3,skipfooter=12,thousands='.',decimal=',')
  df_processamento['uf'] = df_processamento['Unidade da Federação'].str[3:]
  df_processamento.drop(['Unidade da Federação','Total'], axis=1, inplace=True)
  df_processamento.set_index('uf', inplace=True)
  gasto_do_mais_recente = df_processamento[df_processamento.columns[-1]]

  pop_gastos = pop_estados.join(gasto_do_mais_recente)
  
  return display(pop_estados), display(pop_gastos)


populacao_estados()

digite url: https://pt.wikipedia.org/wiki/Lista_de_unidades_federativas_do_Brasil_por_popula%C3%A7%C3%A3o
digite url: https://raw.githubusercontent.com/silva-felipe/BootCamp_Alura_DataScience/main/dados/ano_mes_processamento.csv

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  app.launch_new_instance()

                     populacao
uf
São Paulo             46289333
Minas Gerais          21292666
Rio de Janeiro        17366189
Bahia                 14930634
Paraná                11516840
Rio Grande do Sul     11422973
Pernambuco             9616621
Ceará                  9187103
Pará                   8690745
Santa Catarina         7252502
Maranhão               7114598
Goiás                  7113540
Amazonas               4207714
Espírito Santo         4064052
Paraíba                4039277
Rio Grande do Norte    3534165
Mato Grosso            3526220
Alagoas                3351543
Piauí                  3281480
Distrito Federal       3055149
Mato Grosso do Sul     2809394
Sergipe                2318822
Rondônia               1796460
Tocantins              1590248
Acre                    894470
Amapá                   861773
Roraima                 631181

                     populacao     2021/Mar
uf
São Paulo             46289333 392946147.42
Minas Gerais          21292666 200471045.07
Rio de Janeiro        17366189 106837295.81
Bahia                 14930634  98746333.07
Paraná                11516840 140264608.52
Rio Grande do Sul     11422973 130155185.16
Pernambuco             9616621  83870992.73
Ceará                  9187103  62079618.54
Pará                   8690745  33276392.89
Santa Catarina         7252502  81376630.57
Maranhão               7114598  39663677.48
Goiás                  7113540  45592686.49
Amazonas               4207714  22032176.22
Espírito Santo         4064052  45490499.45
Paraíba                4039277  25750897.89
Rio Grande do Norte    3534165  23306498.68
Mato Grosso            3526220  19611032.61
Alagoas                3351543  22118639.05
Piauí                  3281480  20018325.75
Distrito Federal       3055149  31831917.45
Mato Grosso do Sul     2809394  25168195.34
Sergipe                2318822  13321494.41
Rondônia               1796460  11023309.47
Tocantins              1590248   1357751.33
Acre                    894470   4077045.92
Amapá                   861773   3188210.98
Roraima                 631181   3985530.08

(None, None)